.popup__container-heading{
    font-family: 'Inter','Arial', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 45px;
    margin-top: 35px;
    margin-left: 36px;
}
@media all and (min-width:320px)and (max-device-width:870px){
    .popup__container-heading{
        font-size: 18px;
        margin-bottom: 72px;
        margin-top: 20px;
        margin-left: 21px;
    }
}