.elements{
    display: flex;
    margin-top: 47px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 900px;
}


@media all and (min-width:320px)and (max-device-width:870px){
    .elements{
        justify-content: center;
    }
}