.popup__close{
    position: absolute;
    border-bottom: 150px;
    top: -35px;
    right:-35px;
    height: 32px;
    width: 32px;
    background: none;
    border: none;
    background-image: url(../../../images/Close-Icon-svg.svg);
    background-repeat: no-repeat;
  }
  .popup__close:hover{
      opacity: 0.6;
      cursor: pointer;
  }
  
@media all and (min-width:320px)and (max-device-width:695px){
    .popup__close{
       width: 20px;
       right:0;
       height: 20px;
       background-size: 100%;
     }
}